@tailwind base;
@tailwind components;
@tailwind utilities;
/* Base styles */
:root {
  --color-primary-500: #115e59;
  --color-primary-400: #0d9488;
  --color-primary-300: #5eead4;
  --color-primary-200: #ccfbf1;
  --color-primary-100: #f0fdfa;

  --color-secondary-500: #ff9700;
  --color-secondary-400: #fcb117;
  --color-secondary-300: #ffd700;

  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode variables */
.dark {
  --color-primary-500: #0d4e4b;
  --color-primary-400: #087d73;
  --color-primary-300: #3fe6c4;
  --color-primary-200: #b0f4eb;
  --color-primary-100: #e8fcfa;

  --color-secondary-500: #ff7c00;
  --color-secondary-400: #fca317;
  --color-secondary-300: #ffd233;

  --background-color: #121212;
  --text-color: #ffffff;
}

/* Apply global styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
