@tailwind base;
@tailwind components;
@tailwind utilities;
/* Base styles */
:root {
  /* Primary color palette */
  --color-primary-500: #1882ff;
  --color-primary-400: #479aff;
  --color-primary-300: #75b2ff;
  --color-primary-200: #a3caff;
  --color-primary-100: #d1e2ff;

  --color-orange-500: #d66f00;
  --color-orange-300: #f7b166;

  --color-green-500: #03A629;

  /* Neutral colors */
  --color-dark-500: #77818c;
  --color-dark: #1a2b3d;
  --background-color: #ffffff; /* White background for light mode */
}

/* Dark mode variables */
.dark {
  /* Primary color palette */
  --color-primary-500: #1561cc;
  --color-primary-400: #3f80e6;
  --color-primary-300: #72a4f2;
  --color-primary-200: #a9c9f7;
  --color-primary-100: #dce9fc;

  --color-orange-500: #d66f00;
  --color-orange-300: #f7b166;

  --color-green-500: #03A629;

  /* Neutral colors */
  --background-color: #121212;
  --color-dark-500: #77818c;
  --text-color: #ffffff;
}

/* Apply global styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.clip-triangle {
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.clip-top-triangle {
  clip-path: polygon(100% 0, 0 0, 0 100%);
  border-radius: 0 20% 15% 0;
}
.clip-bottom-triangle {
  clip-path: polygon(100% 100%, 0 0, 0 100%);
  border-radius: 0 0 10% 0;
}
